{% extends 'register/pages/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" style="margin-top:30px;">
    <form action="" method="POST">
    {% csrf_token %}
    <div class="col-12">
        {{ form.first_name | as_crispy_field }}
    </div>
    <div class="col-12">
        {{ form.last_name | as_crispy_field }}
    </div>
    <div class="col-12">
       {{ form.email | as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form.phone | as_crispy_field }}
    </div>
    <div class="col-12">
        {{ form.address | as_crispy_field }}
    </div>
    <div class="col-12">
        {{ form.company | as_crispy_field }}
    </div>

    <div class="col-12">
        <input type="submit" class="btn btn-success" value="Add Client">
    </div>

</form>
</div>
{% endblock %}