{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="aPavone Asset Management System">
    <meta name="author" content="Gabriel Gilles Adjowotor">
    <title>aPavone Asset Registry</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">aPavone Concepts</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
  </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span><i class="fa fa-dashboard" aria-hidden="true"></i>
                  </span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-desktop" aria-hidden="true"></i>
                  </span>
                  Assets
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-gears" aria-hidden="true"></i>
                  </span>
                  Asset Types
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-building" aria-hidden="true"></i>
                  </span>
                  Companies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-sitemap" aria-hidden="true"></i>
                  </span>
                  Service
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-snowflake-o" aria-hidden="true"></i>
                  </span>
                  Service Type
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-user-secret" aria-hidden="true"></i>
                  </span>
                  Client Passwords
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span><i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                  Clients
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
             {% block content %}
             <div class="row">
                <div class="col-4 col-md-4 col-xs-12">
                  <div class="card bg-light mb-3 mr-5" style="max-width: 18rem;">
                <div class="card-header">Registered Companies</div>
                <div class="card-body">
                  <h5 class="card-title align-items-center"> {{ company_count }} </h5>
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
              </div>
                </div>
              <div class="col-4 col-md-4 col-xs-12">
                <div class="card text-white bg-info mb-3 mr-5 col-4 col-md-6 col-xs-12" style="max-width: 18rem;">
                <div class="card-header">No. of Clients</div>
                <div class="card-body">
                  <h5 class="card-title" style="align-content:center;"> {{ staff_count }} </h5>
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
              </div>
              </div>
              <div class="col-4 col-md-4 col-xs-12">
              <div class="card bg-light mb-3 mr-5 col-4 col-md-6 col-xs-12" style="max-width: 18rem;">
                <div class="card-header">Managed Assets</div>
                <div class="card-body">
                  <h5 class="card-title"> {{ asset_count }} </h5>
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
                </div>
              </div>
             </div>




          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h4">Companies</h1>
          </div>

          <div class="row">
                <div class="col-12 col-md-12 col-xs-12">
                  <div class="card bg-light mb-3 mr-5">
                  <div class="card-header">Registered Companies</div>
                   <div class="card-body">
                  {% for company in companies %}
                     <a href="#"><h5 class="card-title"> {{ company.name }}</h5></a>
                     {% endfor %}
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
              </div>
                </div>
          </div>


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h4">Clients</h1>
          </div>

          <div class="row">
                <div class="col-12 col-md-12 col-xs-12">
                  <div class="card bg-light mb-3 mr-5">
                  <div class="card-header">Clients</div>
                   <div class="card-body">
                  {% for staff in staffs %}
                     <a href="#"><h5 class="card-title"> {{ staff.first_name }} {{ staff.last_name }}</h5></a>
                     {% endfor %}
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
              </div>
                </div>
          </div>


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h4">Assets</h1>
          </div>

          <div class="row">
                <div class="col-12 col-md-12 col-xs-12">
                  <div class="card bg-light mb-3 mr-5">
                  <div class="card-header">Managed Assets</div>
                   <div class="card-body">
                  {% for asset in assets %}
                     <a href="#"><h5 class="card-title"> {{ asset.name }}</h5></a>
                     {% endfor %}
<!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
              </div>
                </div>
          </div>
              {% endblock %}
        </main>
      </div>
    </div>
  <footer class="container">
          <p style="margin: 0 auto;">Developed by aPavone Systems
           <span style="float:right;">Copyright 2020 </span> </p>
  </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

  </body>

</html>
